/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Press Start P2';
    src: url('/jogo-da-velha/src/app/jogo-da-velha/assets/fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}